/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Fuentes*/

@font-face {
  font-family: "Archivo-VariableFont_wdth";
  src: url(../doc/fonts/Archivo-VariableFont_wdth.ttf);
}

@font-face {
  font-family: "Gotham-Black";
  src: url(../doc/fonts/Gotham-Black.otf);
}

@font-face {
  font-family: "GothamBold";
  src: url(../doc/fonts/GothamBold.ttf);
}

@font-face {
  font-family: "GothamBook";
  src: url(../doc/fonts/GothamBook.ttf);
}

@font-face {
  font-family: "GothamBookItalic";
  src: url(../doc/fonts/GothamBookItalic.ttf);
}

@font-face {
  font-family: "GothamMedium";
  src: url(../doc/fonts/GothamMedium.ttf);
}

/*VARIABLES*/

:root {
  --variableFont: "Archivo-VariableFont_wdth";
  --gothamBlack: "Gotham-Black";
  --GothamBold: "GothamBold";
  --GothamBook: "GothamBook";
  --GothamBookItalic: "GothamBookItalic";
  --GothamMedium: "GothamMedium";
  --textospan: "rgb(34, 167, 112)";
}

/*Globales*/

body {
  overflow-x: hidden!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--GothamBold);
}

p {
  font-family: var(--variableFont);
}

.border-redondeados-check {
  border-radius: .3rem;
}

.contenedor-iconos .rayo-icono {
  display: flex;
  align-items: flex-end;
  width: 10%;
  background-color: white;
  border-radius: 50%;
  margin-left: 2rem;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.05);
  padding: 0.2rem;
}

.icono-invisible {
  visibility: hidden;
  align-items: flex-end;
  width: 1rem;
  height: 1rem;
  margin-top: 5px;
  margin-right: 1rem;
}

.iconoplus {
  height: 35.69px!important;
  width: 35.69px!important;
}

/* BOTONES */

.boton-estoy-lista {
  background-color: rgb(34, 167, 114);
  color: white;
  padding: 1rem 3.5rem;
  text-decoration: none;
  border-radius: 5rem 5rem 5rem 5rem;
  font-family: var(--GothamBold);
}

.boton-meuno {
  padding: 1rem 2.8rem!important;
}

.boton-seccion-7 {
  margin-top: 2rem!important;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/*nav*/

.contenedor-logo {
  width: 5rem!important;
  position: relative;
}

.logosentirsemejor {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 100%;
}

/* HEADER / SECCION 1 */

.nav-container {
  width: 89%;
  margin: 0 auto;
}

.contenedor-header {
  width: 90%;
  margin: 0 5rem;
}

.contenedor-cajas-aboslutas {
  display: flex;
}

.contenedor-header .contenedor-texto {
  width: 43%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  margin-left: 5rem;
}

.contenedor-header .contenedor-imagen {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contenedor-imagen img {
  border-bottom-right-radius: 20%;
}

header div .contenedor-texto h1 {
  font-family: var(--GothamBook);
  font-weight: bolder;
  font-size: 2.2rem;
}

header div .contenedor-texto h1 span {
  color: rgb(34, 167, 112);
  font-family: var(--GothamBold);
}

header div .contenedor-texto h2 {
  font-family: var(--gothamBlack);
  width: 70%;
}

header div .contenedor-texto p {
  font-size: 1.2rem;
}

header div .contenedor-texto .contenedor-listado-ic ul {
  list-style: none;
}

header div .contenedor-texto .contenedor-listado-ic ul li {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

header div .contenedor-texto .contenedor-listado-ic ul li p {
  margin: 0;
  margin-left: 1rem;
}

header div .contenedor-texto .contenedor-listado-ic ul li img {
  width: 1.5rem;
  padding: .1rem;
  background-color: rgb(34, 167, 112);
}

.header-img-desk {
  display: block;
}

.header-img-mobil {
  display: none;
}

@media (max-width:768px) {
  .nav-container .contenedor-boton {
    display: none;
  }
  header {
    width: 100%;
  }
  .contenedor-header {
    position: static!important;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .contenedor-texto {
    margin: 0 auto!important;
    width: 90%!important;
    position: static!important;
  }
  .contenedor-texto h1 {
    font-size: 2rem!important;
    font-weight: bolder!important;
  }
  .contenedor-texto h2 {
    width: 100%!important;
    margin: 1rem 0!important;
  }
  .contenedor-imagen {
    width: 90%!important;
    justify-content: left;
    position: static!important;
  }
  .contenedor-imagen img {
    margin-top: 1.5rem;
    width: 100%;
  }
  .contenedor-listado-ic {
    margin: 1rem 0;
  }
  .header-img-desk {
    display: none;
  }
  .header-img-mobil {
    display: block;
  }
}

/** SECCION 2 **/

.seccion2-contenedor {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contenedor-imagenes-seccion2 .d-flex .contenedor-img {
  display: flex;
  flex-direction: column;
}

.contenedor-imagenes-seccion2 .d-flex .contenedor-img img {
  width: 14rem;
  border-radius: 2rem;
  margin: 1rem;
}

.contenedor-texto-seccion2 h1 {
  font-family: var(--GothamBold);
}

.contenedor-texto-seccion2 h1 span {
  color: rgb(34, 167, 112);
}

.contenedor-texto-seccion2 p span {
  font-family: 'GothamBookItalic';
}

.contenedor-texto-seccion2 p .span-bold {
  font-family: var(--gothamBlack)!important;
}

@media (max-width:768px) {
  .seccion2-contenedor {
    width: 95%;
    flex-direction: column-reverse;
  }
  .contenedor-imagenes-seccion2 {
    width: 100%;
  }
  .contenedor-imagenes-seccion2 .d-flex .contenedor-img img {
    width: 90%;
  }
  .contenedor-texto-seccion2 {
    width: 100%!important;
  }
}

/** SECCION 3 **/

.seccion3 {
  width: 70%;
  margin: 0 auto;
}

.seccion3 .contenedor-imagenes-seccion3 {
  width: 100%;
}

.seccion3 .contenedor-imagenes-seccion3 img {
  width: 100%;
}

.seccion3 .contenedor-texto-seccion3 h2 {
  margin-bottom: 2rem;
}

.seccion3 .contenedor-texto-seccion3 h2 span {
  color: rgb(34, 167, 112);
}

.seccion3 .contenedor-texto-seccion3 .contenedor-parrafos div .p {
  margin: 1.2rem 0;
}

.seccion3 .contenedor-texto-seccion3 .contenedor-parrafos div p span {
  font-family: var(--gothamBlack);
}

@media (max-width:768px) {
  .seccion3 {
    width: 90%;
    flex-direction: column!important;
  }
  .texto-costado {
    display: none;
  }
}

/* SECCION 4 */

.texto-costado {
  transform: rotate(270deg);
  left: -12%;
  bottom: 0;
}

.texto-costado p {
  font-size: 6rem;
  color: rgb(212, 240, 228);
  font-family: var(--gothamBlack);
}

.seccion4 .contenedor-texto {
  width: 100%;
  margin: 0 auto;
  height: 20%;
  clip-path: ellipse(50% 50% at 50% 50%);
  background-color: white;
  z-index: 150;
  margin-bottom: -3rem;
}

.seccion4 .contenedor-texto .contenido {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.seccion4 .contenedor-texto .contenido p {
  font-family: var(--gothamBlack);
}

.seccion4 .contenedor-texto .contenido p span {
  color: rgb(34, 167, 112)
}

.seccion4 .contenedor-texto-centrado {
  color: white;
  width: 600px;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  flex-direction: column;
  text-align: center;
}

.seccion4 .contenedor-texto-centrado h2 {
  font-size: 2rem;
}

.seccion4 .contenedor-texto-centrado h2 span {
  color: rgb(34, 167, 112);
  padding-bottom: 1rem;
}

.seccion4 .contenedor-texto-centrado h3 {
  font-size: 1.5rem;
}

.seccion4 .contenedor-texto-centrado div {
  margin-top: 2rem;
}

.seccion4 .contenedor-img {
  width: 50vw;
  height: 30rem;
}

.seccion4 .imagen-1 .fondocelular {
  display: none;
}

@media (max-width:768px) {
  .seccion4 .contenedor-texto {
    width: 100%!important;
    margin-right: 0!important;
    margin-left: 0!important;
    position: relative!important;
    margin-bottom: -3rem!important;
    z-index: 1000;
  }
  .seccion4 .contenedor-texto .contenido {
    width: 70%!important;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: .8rem;
  }
  section .seccion4 {
    height: 900px;
    width: 100%;
  }
  .seccion4 .imagen-2 {
    display: none;
  }
  .seccion4 .imagen-1 .fondoescritorio {
    display: none;
  }
  .seccion4 .imagen-1 {
    width: 100%!important;
    height: 900px;
  }
  .seccion4 .imagen-1 .fondocelular {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  .seccion4 .contenedor-texto-centrado {
    color: white;
    width: 400px;
    top: 15%;
    left: 65%;
  }
}

/* SECCION 5 */

.seccion-5 {
  width: 70%;
  margin: 0 auto;
}

.contenedor-seccion5-info {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .8rem;
  text-align: center;
  width: 28%;
}

.contenedor-seccion5-info img {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.contenedor-seccion5-info p {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width:768px) {
  .seccion-5 {
    width: 60%;
    flex-direction: column;
    margin: 0 auto;
  }
  .contenedor-seccion5-info {
    width: 100%;
    margin: 1rem 0!important;
  }
}

/*SECCION 6*/

.seccion6 .row {
  align-items: center;
  overflow: hidden;
}

.seccion6 .row {
  align-items: center;
}

.seccion6 .row div h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.seccion6 .row div h2 span {
  color: rgb(34, 167, 112);
}

.seccion6 .row div h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.seccion6 .row div p {
  font-family: var(--GothamBook);
  font-size: 1.1rem;
}

@media (max-width:768px) {
  .seccion6 {
    width: 100%!important;
    margin: 0 auto!important;
  }
  .seccion6 .row div:last-child {
    width: 85%!important;
    padding: 0!important;
  }
  .seccion6 .row div {
    width: 100%!important;
    padding: 0!important;
  }
  .seccion6 .row div img {
    object-fit: cover;
    object-position: center center;
    width: 100%!important;
  }
  .seccion6 .row {
    display: flex!important;
    flex-direction: column-reverse!important;
  }
}

/*SECCION 7*/

.seccion7 {
  width: 70%;
  margin: 6rem auto;
}

.seccion-7 div h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.letras-bordes-azules {
  -webkit-text-stroke: 2px rgb(34, 167, 114);
  color: transparent;
  font-size: 12rem;
  font-weight: bold;
}

.seccion7-contenedor {
  width: 38%;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: -2rem!important;
}

.contenedor-seccion7 .parrafo {
  font-family: 'GothamMedium'!important;
  font-size: 1.2rem!important;
}

.seccion7 .contenedor-1 {
  background-color: rgb(34, 167, 114);
  color: white;
  padding-bottom: 0!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seccion7 .contenedor-1 div {
  align-items: flex-end;
}

.seccion7 .contenedor-2 {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width:768px) {
  .seccion7 {
    flex-direction: column;
    width: 85%;
  }
  .seccion7-contenedor {
    width: 100%;
    margin: 1.5rem 0!important;
  }
}

/*NUMEROS*/

.numeros-seccion div h2 {
  text-align: center;
  font-size: 2rem;
}

.contenedor-boton-seccion7 {
  display: flex;
  justify-content: center;
}

@media(max-width:768px) {
  .numeros-seccion .d-flex {
    flex-direction: column;
  }
  .contenedores-seccion7 {
    align-items: center;
    margin-right: 4rem;
  }
  .contenedores-seccion7 .cont-secc7-choose {
    margin-left: 4rem;
  }
  .numeros-seccion .d-flex .contenedor-seccion7 {
    width: 50%;
    padding: 1rem!important;
  }
  .numeros-seccion .d-flex .contenedor-seccion7 .letras-bordes-azules {
    font-size: 6rem;
  }
  .numeros-seccion .d-flex .contenedor-seccion7 .parrafo {
    text-align: center;
  }
  .contenedor-boton-seccion7 {
    width: 60%;
    margin: 1rem auto;
  }
  .contenedor-boton-seccion7 .boton-estoy-lista {
    font-size: 1.1rem;
    padding: 10px 15px;
    font-family: var(--GothamMedium);
  }
}

/*SECCION 8*/

.contenedor-adevertencia {
  width: 70%;
  margin: 0 auto;
}

.contenedor-adevertencia .contenedor-advertencia-img {
  width: 18%;
  border-radius: 50%;
  background-color: white;
  padding: 0.2;
  align-items: center;
  text-align: center;
}

.contenido-advertencia {
  text-align: justify;
  background-color: rgb(212, 240, 228);
  border-radius: 2rem;
}

.durazno-absoluto {
  position: absolute;
  width: 30%;
  top: 45%;
  left: -22%;
}

@media(max-width:768px) {
  .durazno-absoluto {
    top: 85%;
    left: 60%;
    width: 50%;
  }
  .contenedor-adevertencia div {
    flex-direction: column!important;
  }
  .contenedor-adevertencia .contenedor-advertencia-img {
    width: 35%;
    border-radius: 50%;
    background-color: white;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
  }
}

/** SECCION 9 **/

#seccion9 {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  background-color: rgb(212, 240, 228);
  display: flex;
}

#seccion9 .contenedor-img {
  align-items: flex-end;
}

@media (max-width:768px) {
  #seccion9 {
    height: auto;
    flex-direction: column-reverse!important;
  }
  #seccion9 div {
    width: 90%;
  }
  #seccion9 .contenedor-img {
    margin-top: 3rem;
  }
}

/*SECCION 10*/

.seccion-10 {
  width: 80%;
  padding: 1rem 0;
  margin: 7rem auto;
}

.contenedor-preguntas {
  z-index: 100;
}

.seccion-10 .contenedor h2 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.seccion-10 .contenedor h2 span {
  color: rgb(34, 167, 112);
}

.contenedor-preguntas .preguntas {
  background-color: white;
  width: 45%;
  border-radius: .5rem;
  margin-bottom: 1rem;
  padding: .2rem 1.4rem;
}

.contenedor-preguntas .preguntas img {
  width: 4%;
}

.seccion-10 .contenedor .position-absolute {
  z-index: 0;
  top: 5%;
  left: 40%;
  width: 35%;
}

.seccion-10 .contenedor .position-absolute img {
  width: 100%;
}

@media(max-width:768px) {
  .seccion-10 {
    width: 95%;
  }
  .contenedor-preguntas .preguntas {
    width: 100%;
  }
  .seccion-10 .contenedor .position-absolute {
    position: relative!important;
    width: 80%;
    top: 0;
    left: 0;
  }
}

@media(max-width:425px) {
  .seccion-10 {
    width: 95%;
  }
  .contenedor-preguntas .preguntas {
    width: 100%!important;
    margin: 1rem auto!important;
  }
  .seccion-10 .contenedor .position-absolute {
    position: relative!important;
    width: 80%;
    top: 0;
    left: 0;
  }
}

/*footer*/

footer {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}

footer div {
  width: 50%;
}

.redes-sociales {
  text-align: end;
}

@media (max-width:768px) {
  footer .d-flex {
    padding: 1rem 0;
  }
  .redes-sociales img {
    width: 30%!important;
  }
}

/*acordeon*/

/*Acco*/

.ac-container label {
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  line-height: 33px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eaeaea', GradientType=0);
}

.ac-container label:hover {
  background: #fff;
}

.contenedor-preguntas .preguntas {
  background-color: white;
  width: 55%;
  border-radius: .5rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: .2rem 1.4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.contenedor-preguntas .preguntas {
  justify-content: space-between;
  align-items: center;
}

.contenedor-preguntas .preguntas .respuesta {
  font-weight: lighter;
  font-size: 1.1rem;
}

.ac-container label:hover:after, .ac-container input:checked+label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}

.ac-container input {
  display: none;
}

.ac-container article {
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  padding-top: 1rem;
  font-weight: normal;
}

.ac-container input:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  margin: .2rem;
}

.ac-container input:checked~article.ac-small {
  height: 300px;
}

.ac-container input:checked~article.ac-medium {
  height: 250px;
}

.ac-container input:checked~article.ac-large {
  height: 300px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden, [hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}